.navbar {
    width: 100%;
    background: black;
    color: white;
}

.navbar ul {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 16px;
}
